<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-body">
    <header><%- include('../partials/header', {page_name: 'about'}); %></header>

    <main class="container" style="min-height: 100vh">
      <div class="row">
        <h1 class="text-center fw-bold title-1">
          Welcome to ZipURL - Simplify Your Links!
        </h1>

        <p class="text-center text-light fw-semibold fs-5">
          At ZipURL, we believe in the power of simplicity. Our mission is to
          provide a fast, reliable, and user-friendly URL shortening service
          that makes sharing and managing links a breeze.
        </p>
      </div>

      <div class="mt-5">
        <h2 class="fw-semibold title-2 text-center">Why Choose ZipURL?</h2>
        <ul class="fw-medium text-light">
          <li>
            Lightning-Fast Link Shortening: With ZipURL, you can transform long
            and complex URLs into short, sleek, and memorable links in an
            instant. No more hassle of copying and pasting lengthy web
            addresses.
          </li>
          <li>
            Clean and Concise: Our shortened URLs are concise and clutter-free,
            ensuring a seamless user experience. Whether you're sharing links on
            social media, sending them via email, or printing them on
            promotional materials, ZipURL delivers a sleek and professional
            touch.
          </li>
          <li>
            Advanced Analytics: Gain insights into the performance of your
            shortened links with our robust analytics dashboard. Track
            click-through rates, referral sources, and other valuable metrics to
            optimize your marketing efforts.
          </li>
          <li>
            Customization Options: Personalize your shortened URLs with our
            custom branding feature. Add your own domain or choose a unique
            alias that reflects your brand identity, making your links even more
            memorable.
          </li>
          <li>
            Reliable and Secure: We prioritize the security and stability of
            your links. Rest assured that your visitors will always be
            redirected to the intended destination without any glitches or
            interruptions.
          </li>
        </ul>
      </div>

      <p class="text-center text-light fw-semibold fs-5">
        Join thousands of satisfied users who have simplified their links with
        ZipURL. Experience the convenience and efficiency of our URL shortening
        service today!
      </p>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
