<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-body">
    <header><%- include('../partials/header', {page_name: "docs"}); %></header>

    <main class="container" style="min-height: 100vh">
      <div class="text-center fw-bold title-1 fs-2">The page is updating</div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <%- include('../partials/script'); %>
  </body>
</html>
